<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/blog">Блог</a>
            <a class="p-2 text-dark" href="/about">Помощь</a>
            <a class="p-2 text-dark" href="/blog/add">Добавить статью</a>
            <a class="p-2 text-dark" href="#">Цены</a>
        </nav>
    </div>
</div>